# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = renegadevi
	email = philip.andersen@codeofmagi.net
[push]
	default = simple
[user]
	name = renegadevi
	email = philip.andersen@codeofmagi.net
