# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = RenegadeVI
	email = renegadevi@codeofmagi.net
[push]
	default = simple
[user]
	name = RenegadeVI
	email = renegadevi@codeofmagi.net
